/* header */
.header{
	padding-top: 30px;
	padding-left: 30px;
}
.logo{
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}
.navigation{
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
}

.navigation ul li{
	display: inline-block;
}
.navigation ul li a{
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	color: #3D58A6;
	/*margin*/
	padding: 0 12.5px 0 12.5px;
}
.navigation ul li a:hover{
	color: red;
}
/* end header */

/* start banner  css code */
.banner{
	width: 1170px;
/*	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;*/
	background-color: red;
	margin: 77px auto 0 auto;
}
.banner img{
	width: 100%;
	display: block;
}
/* end banner banner css */

/* ffeatures */
.feature h1{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
}
.feature h1 a{
	text-transform: lowercase;
}
.feature{
	width: 1170px;
	margin: 115px auto 0 auto;
}
.feature-elemnt.rigth{
	margin-left: 30px;
}

.feature-elemnt{
	width: 570px;
	background-color: #F2F2F2;
	padding-bottom: 40px;
	display: inline-block;
	vertical-align: middle;
}

.feture-wrapper{
	margin-top: 35px;
}

.feature h2{
	color: #3D58A6;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 22px;
    padding-top: 15px;
    padding-left: 15px;
}
.content-block{
	padding-top: 15px;
}
.content-block img{
	width: 100px;
	margin-left: 40px;
	margin-right: 55px;
}
.content-block p{
	width: 340px;
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
	font-family: 'Roboto', sans-serif;
	line-height: 26px;
}
/* end ffeatures */